.back {
    display: flex;
    justify-content: center;
    padding: 0.15rem;
    border-radius: 4px;
    background: #7400b8;
    width: fit-content;
    margin: auto;
}

.back span {
    background: black;
    color: white;
    padding: 0.5rem 1.5rem;
    margin: 0.15rem;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
}

.back span:hover {
    background: white;
    color: black;
}
